.responsive-img {
	border-radius: 5px;
}

.order {
	display: none;
}

.price-product {
	font-size: 18px;
}

.material-icons {
	margin: 5px;
}
.text-green {
	color: #2e7d32;
}

.text-red {
	color: #f44336;
}